.heirarchicalMultiCheckboxFilter {
  white-space: nowrap;
  max-height: 30vh;
  overflow: auto;
}

.heirarchicalMultiCheckboxFilter label {
  height: 30px;
}

.heirarchicalMultiCheckboxFilter .optionName {
  margin-left: 10px;
}

.heirarchicalMultiCheckboxFilter .optionButton {
  cursor: pointer;
  line-height: 30px;
  padding-right: 15px;
  margin: 0px 10px 10px 10px;
}

.heirarchicalMultiCheckboxFilter .optionButton:hover {
  background-color: #52a79b;
  color: #f7f7f7
}

.filterCount {
  margin-left: 5px;
}