.datasetInspector .optionColorCircle {
  margin-right: 5px;
  margin-bottom: 5px;
}

.datasetInspector {
  display: flex;
  max-height: 50%;
  overflow: auto;
}

.datasetInspector .inspectorTable {
  max-width: 50%;
  min-width: 50%;
}

.datasetInspector .datasetMetadata {
  max-width: 50%;
  min-width: 50%;
}