# Scraper, API, Download scheduler
DB_NAME=ceda
DB_USER=postgres
DB_PASSWORD=password

# API and scheduler use internal (docker compose) host name
DB_HOST=db

# API
API_URL=http://localhost:5050/api
REDIS_HOST=redis

# Download scheduler
DOWNLOAD_WAF_URL=https://pac-dev2.cioos.org/images/ceda/
CREATE_PDF=False

# path inside docker
DOWNLOADS_FOLDER=/downloads

# GMAIL_USER=example@example.com
# GMAIL_PASSWORD=password

# For Sentry etc
ENVIRONMENT=development

# Use 'postgis' for x86, 'odidev' for ARM
DOCKER_POSTGIS_REPO=postgis
# DOCKER_POSTGIS_REPO=odidev
