.DS_Store
dist
.vscode/settings.json

*.pdf

downloader/out/

downloader/erddap_downloader/__pycache__/

*.egg-info*

__pycache__
node_modules
.DS_Store
notforrepo
.vscode
out
ceda_download*
venv
*.rdb
*.env
.ipynb_checkpoints
*.csv
*.ipynb
erddap_scraper_dc
venv
