.DS_Store
dist
.vscode/settings.json
*.pdf
*.egg-info*
__pycache__
node_modules
notforrepo
.vscode
out
cde_download*
venv
*.rdb
*.env
.ipynb_checkpoints
*.ipynb
erddap_scraper_dc
ckan_harvester_cache
build
*.csv
!scraper/**/*.csv
harvest
harvester_cache
