body {
  font-family: "Montserrat", Sans-serif;
  line-height: 21pt;
}

.mapboxgl-ctrl-group>button {
  width: 42px;
  height: 42px;
}

.row>.selectionPanelColumn {
  padding-left: 0px;
  padding-right: 0px;
}

.logo.english {
  width: 130px;
  height: 40px;
  border: 2px solid transparent;
  pointer-events: all;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(./Images/NationalLogoEnglish.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.logo.french {
  width: 130px;
  height: 40px;
  border: 2px solid transparent;
  pointer-events: all;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(./Images/NationalLogoFrench.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
}

.logo:hover {
  background-color: #f3f3f3;
  /* border: 2px solid lightgray; */
}

.emailAddress {
  height: 40px;
  width: 300px;
}

.boxQueryButton {
  position: absolute;
  right: 10px;
  bottom: 250px;
  width: 42px;
  height: 42px;
  border-radius: 4px 4px 0px 0px;
  border: 0px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  background-color: #fff;
  padding: 5px;
  z-index: 2;
}

.rectangleIcon {
  width: 42px;
  height: 42px;
  background-image: url(./Images/rectangleIcon.png);
  background-color: transparent;
  background-repeat: space;
  background-size: 30px 30px;
}

.boxQueryButton:hover {
  background-color: #f3f3f3;
}

.mapboxgl-ctrl-group {
  border-radius: 0px 0px 4px 4px;
}

.feedbackButton {
  position: absolute;
  right: 10px;
  top: 60px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  border-radius: 40px;
  width: 42px;
  height: 42px;
  z-index: 100;
  padding: 5.5px;
}

.feedbackButton:hover {
  background-color: #f3f3f3;
}

.submissionFeedback span {
  vertical-align: middle;
}

.submissionFeedback svg,
.submissionFeedback span {
  margin-right: 5px;
}

@media all and (max-width: 900px) {
  .logo {
    left: calc(900px - 140px);
  }

  .feedbackButton {
    left: 848px;
  }

  .boxQueryButton {
    left: 848px;
  }

  .introButton {
    left: 848px;
  }
}

@media all and (max-height: 500px) {
  .boxQueryButton {
    top: 210px;
  }
}