#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  height: 100vh;
  /* min-height: 900px; */
  /* overflow-y: hidden; */
}

.mapboxgl-ctrl-group > button {
  width: 42px;
  height: 42px;
}