
.multiCheckboxFilter label{
  height: 30px;
}

.multiCheckboxFilter > * {
  margin: 0px 0px 10px 10px;
}

.multiCheckboxFilter > svg {
  margin: 0px 10px 0px 0px;
}

.multiCheckboxFilter .optionName {
  margin-left: 10px;
} 

.multiCheckboxFilter .optionButton{
  display: flex;
}

.optionButton {
  /* pointer-events: all; */
  cursor: pointer;
}

.optionButton svg{
  margin: 5px 0px 0px 0px;
}

.optionButton:hover {
  background-color: lightgray;
}