.multiCheckboxFilter {
  white-space: nowrap;
  max-height: 350px;
  overflow: auto;
}

.multiCheckboxFilter label {
  height: 30px;
}

.multiCheckboxFilter .optionButton {
  margin: 0px 10px 10px 10px;
}

.multiCheckboxFilter .optionName {
  margin-left: 10px;
}

.multiCheckboxFilter .optionButton {
  cursor: pointer;
  line-height: 30px;
}

.multiCheckboxFilter .optionButton:hover {
  background-color: #52a79b;
  color: #f7f7f7;
}

.multiCheckboxFilter .searchResultsButton {
  background-color: #f7f7f7;
  margin-left: 10px;
  position: sticky;
  top: 0px;
}

.disabled .multiCheckboxFilter .searchResultsButton {
  background-color: lightgrey;
}

.multiCheckboxFilter .searchResultsButton svg {
  margin-right: 10px;
}

.multiCheckboxFilter .searchResultsButton hr {
  margin: 5px 0px;
}

.multiCheckboxFilter .searchResultsButton:hover {
  cursor: pointer;
  background-color: #52a79b;
  color: #f7f7f7;
}

.multiCheckboxFilter .optionColorCircle {
  margin-left: 10px;
}