.datasetsTable {
  @apply text-left; /* text-align: left; */
}

.datasetsTable .selectDatasetColumn {
  @apply w-12; /* 50px ≈ w-12 in Tailwind spacing scale */
}

.datasetsTable th {
  @apply cursor-pointer; /* cursor: pointer; */
}

.datasetsTable thead th {
  @apply bg-white;
}

.datasetsTable tr {
  @apply break-words
    border-2 
    border-transparent 
    -m-[2px]; 

}

.datasetsTable thead th:hover {
  @apply bg-[lightgray];
}


.datasetsTable tr:hover {
  @apply bg-[#c6e3df] cursor-pointer;
}

.datasetsTable td {
   @apply cursor-pointer;
}

.datasetsTable .datasetsTableTitleCell {
  @apply min-w-[150px]
}

.datasetsTable .inspectButton {
  @apply 
    text-center
    my-[10px] mx-[5px] /* similar to mt-[10px] mr-[5px]  mb-[10px] ml-[5px]*/
    border-[2px]
    border-[darkgrey] /* similar to (solid is default border-style)border-2 border-solid border-[darkgrey];*/
    rounded-[10px]
    w-[40px]
    h-[40px]
    p-[5px]
}

.datasetsTable .inspectButton:hover {
  @apply bg-[#c6e3df];
}

.selectAllHeader {
   @apply flex;
}

.selectAllHeader svg {
  @apply mb-[5px];
}

.datasetsTable .optionColorCircle {
  @apply mr-[5px];
}

.datasetsTable .datasetTableLocationsCell svg {
  @apply float-right;
}

.datasetsTable tbody tr td svg:hover {
   @apply bg-[lightgrey];
}

.datasetsTable .downloadIcon {
  @apply ml-[2px];
}

.datasetsTable .datasetsTableSpinner {
  /* position: absolute; */
  @apply 
    
    my-[0px] mx-[40px] 
    opacity-30;
}

.datasetsTable .downloadSizeEstimate {
  line-height: 30px;
  padding: 0px 10px;
  min-width: max-content;
}

.datasetsTable .downloadSizeEstimateFiltered {
  height: 30px;
  display: inline;
  background-color: #e3285e;
  color: white;
}

.datasetsTable .downloadSizeEstimateFiltered.downloadable {
  background-color: #52a79b;
}