.legend {
  position: absolute;
  bottom: 30px;
  left: 10px;
  background-color: #f7f7f7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2.5px 5px 2.5px 5px;
  overflow: visible;
  transition: left 1s;
  font-size: small;
  max-height: max-content;
}

.legend:hover {
  background-color: #c6e3df;
  cursor: pointer;
}

.legend.panelOpen {
  position: absolute;
  left: 570px;
  bottom: 40px;
}

.legend hr {
  margin: 10px 0px;
  border: none;
}

.legendToggleButton {
  border-radius: 10px;
  min-height: 20px;
  min-width: 30px;
  background-color: #d3d3d3;
  padding: 3px;
}

.legendToggleButton svg {
  margin: auto;
  display: block;
}

.legendToggleButton:hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

@media (max-height: 500px) {
  .legend {}
}