.filter {
  pointer-events: none;
  position: relative;
}

.filterHeader:hover {
  background-color: #c6e3df;
}

.filterHeader {
  pointer-events: all;
  background-color: #f7f7f7;
  display: inline-flex;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.filterHeader>* {
  margin: 0px 5px;
  height: 28px;
}

.filterHeader button {
  border-radius: 10px;
}

.filterOptions {
  pointer-events: all;
  position: absolute;
  top: 45px;
  left: 0px;
  z-index: 10;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
  max-width: fit-content;
  min-width: 350px;
}

.filterOptions button {
  background-color: #c6e3df;
  border: solid 2px darkgrey;
  border-radius: 10px;
  margin: 5px 5px;
  height: 30px;
}

.filterOptions button:hover {
  background-color: #52a79b;
  color: #f7f7f7
}

.filterSearch {
  width: 100%;
  margin-bottom: 5px;
}

.clearFilter {
  position: absolute;
  right: 12px;
  top: 12px;
  border-radius: 30px;
}

.clearFilter:hover {
  background-color: lightgray;
  cursor: pointer;
}