.filter {
  pointer-events: all;
  /* max-width: 300px; */
  /* min-width: 150px; */
}

.filterHeader {
  background-color: #f7f7f7;
  display: inline-flex;
  text-align: center;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
}

.filterHeader > *{
  margin: 0px 5px;
  height: 30px;
}

.filterHeader button {
  border-radius: 10px;
}

.filterOptions {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 10px;
}

.filterOptions button {
  background-color: #f7f7f7;
  border: solid 2px darkgrey;
  border-radius: 10px;
  margin: 5px 5px;
  height: 30px;
}

.filterOptions button:hover {
  background-color: lightgray;
}
