.controls {
  position: relative;
  top: 10px;
  overflow-x: hidden;
  pointer-events: none;
  margin-left: 52px;
}

.filter {
  /* width: 300px; */
  fill: darkgrey;
  background-color: darkgrey;
  pointer-events: all;
  max-width: 200px;
}
