.downloadDetails .row {
  padding: 5px 0px;
}

.downloadDetails>hr{
  margin:0px;
}

.downloadDataRow {
  max-height: 40vh;
  overflow-y: auto;
}

.downloadDetailsControls {
  border-top: 1px solid darkgrey;
  background-color: #f7f7f7;
  padding: 10px;
  overflow-x: hidden;
}

.downloadDetailsControlRow {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.emailInput {
  width: 100%;
  margin-right: 10px;
}

.dataTotalRatio svg {
  margin-left: 5px;
}

.dataTotalBar {
  height: 40px;
  width: 325px;
  margin-right: 10px;
}

.dataTotalBar.progress {
  margin: 5px 0px 0px 0px;
  height: 30px;
}

.progress .upTo100 {
  color: white;
}

.progress .past100 {
  color: black;
}

.downloadQuote {
  text-align: center;
}