.legendElement {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 2px;
  line-height: 11px;
}

.legendElement .legendElementLabel {
  /* transform: rotate(180deg); */
  /* writing-mode: vertical-lr; */
  white-space: nowrap;
  margin: 2px 0px;
}