.pointDetailsHeader {
  @apply 
    flex
    h-[66px]
    items-center
    border-solid
    border-b-2
    border-b-[lightgray]
    text-[18px]
    bg-white
    lg:text-[13px];
    flex-wrap: nowrap; /* stays one line */
    justify-content: space-between;
    gap: 8px;
    pointer-events: all;


  /*height: 66px;
  display: flex;
  border-bottom: 1px solid lightgray;
  align-items: center; */
}
.pointDetailsHeader a {
  flex-shrink: 1; /* allow items to shrink when needed */
}

.pointDetailsHeaderLogo {
  padding: 3px 0px;
}

.pointDetailsHeaderLogo.CIOOS {
  margin: auto 0px;
  height: 100%;
  padding: 10px;
}

.pointDetailsHeaderLogo.CDE {
  /* margin: auto 0px auto 70px; */
  padding: 0px;
  height: 100%;
  width: 100%;
  object-fit:scale-down;
}

.pointDetailsHeaderLogo.CDE:hover {
  cursor: pointer;
  background-color: #c6e3df;
  /* padding: -2px; */
}

.pointDetailsHeaderLogo.CIOOS:hover {
  cursor: pointer;
  background-color: #f3f3f3;
  /* padding: -2px; */
}

.pointDetailsHeaderIntroButton {
  margin: 10px 10px 10px 0px;
  pointer-events: all;
  background-color: #fff;
  /* box-shadow: 0 0 0 2px rgb(0 0 0 / 10%); */
  border-radius: 4px;
  border: 0px;
  height: 42px;
  width: 42px;
  text-align: center;
  z-index: 3;

  /*@apply;*/
    


}

.pointDetailsHeaderIntroButton:hover {
  background-color: #c6e3df;
}

.feedbackButtonImage {
  background-image: url(../../Images/feedbackButton.png);
}

.feedbackButton {
  background-color: #fff;
  /* box-shadow: 0 0 0 2px rgb(0 0 0 / 10%); */
  border-radius: 4px;
  width: 42px;
  height: 42px;
  z-index: 100;
  padding: 6px 7px 5px 7px;
  margin: auto 10px;
  pointer-events: all;
}

.feedbackButton:hover {
  background-color: #f3f3f3;
}

.noPosition.languageSelector{
  position: inherit;
  top: inherit;
  right: inherit;
  margin: 10px;
  pointer-events: all;
  z-index: 3;
  width: 42px;
  height: 42px;
  text-align: center;
  /* margin: auto; */
  padding:7px 5px 5px 5px;
  background-color: white;
  border-radius: 4px;
  pointer-events: all;
  /* border: 2px solid lightgrey; */
}

.noPosition.languageSelector:hover {
  background-color: #f3f3f3;
}