.controls {
  position: relative;
  top: 10px;
  pointer-events: none;
  z-index: 2;
}

.controls.disabled .filterHeader,
.controls.disabled .filterOptions {
  pointer-events: none !important;
  background-color: var(--cioos-surface-2);
}

.controlColumn.col {
  display: flex;
  flex-wrap: wrap;
  height: min-content;
  padding-right: 210px;
  padding-left: 0px;
  min-width: 400px;
}

.controls .row {
  flex-wrap: nowrap;
}