.toggleControlsOpenAndClosed svg{
  margin-bottom: 2px;
}
.controls {
  position: relative;
  top: 10px;
  overflow-x: hidden;
  pointer-events: none;
}
.closed {
  width: 0px;
}
.timeInput {
  overflow:visible;
}
.controlAccordion{
  width: 400px;
}

.filterRow {
  background-color: white;
  border-radius: 0.25rem;
}
.filterStatus {
  font-style: italic;
  /* line-height: ; */
}
.controlAccordion .card-body {
  max-height: 445px;
  overflow: auto;
}
.helpIcon {
  margin-left: 10px;
}
.chevronAccordionToggle {
  float: right;
}
.toggleControlsOpenAndClosed {
  margin-bottom:5px;
}
.accordionColumn {
  /* pointer-events: 'none'; */
  width: 385px;
}
.filters{
  margin-top:50px;
}
.topControls {
  margin-right:-385px;
}
.pointDetails {
  position: absolute;
  top: 110px;
  max-height: 600px;
  pointer-events: none;
}
.pointDetailsCard {
  max-width: 400px;
  /* max-height: 590px; */
  background-color: white;
  border-radius: 0.25rem;
  overflow-x: hidden;
  margin-top: 100px;
  /* overflow-y: hidden; */
}
.pointDetailsTabToggleButton {
  height: 40px;
  width: 45px;
}
.paginationRow{
  margin: 10px 0px 0px 0px !important;
  height: 25px;
}
table {
  margin: 0px 0px 0px 0px !important;
  display: block;
  max-height: 165px;
  max-width: 400px;
  overflow-y: scroll;
}
.polygonButton {
  background-image: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="20" height="20">%3Cpath d="m15 12.3v-4.6c.6-.3 1-1 1-1.7 0-1.1-.9-2-2-2-.7 0-1.4.4-1.7 1h-4.6c-.3-.6-1-1-1.7-1-1.1 0-2 .9-2 2 0 .7.4 1.4 1 1.7v4.6c-.6.3-1 1-1 1.7 0 1.1.9 2 2 2 .7 0 1.4-.4 1.7-1h4.6c.3.6 1 1 1.7 1 1.1 0 2-.9 2-2 0-.7-.4-1.4-1-1.7zm-8-.3v-4l1-1h4l1 1v4l-1 1h-4z"/>%3C/svg>');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: 1px solid black !important;
}
.requirementsList li{
  margin: 5px 0px 5px 0px;
}