.selectionPanel {
  pointer-events: all;
  /* position: absolute; */
  display: flex;
}

/* .sidePanelOpen {
  width: 500px;
} */

.panelContents {
  background-color: #f7f7f7;
  position: relative;
  top: -10px;
  left: 0px;
  /* z-index: 10; */
  width: 400px;
  height: 100vh;
  /* overflow-y: hidden; */
}

.panelContents.open {
  width:400px
}

.panelHandle {
  background-color: #f7f7f7;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 20px;
  height: 40px;
  border-radius: 0px 10px 10px 0px;
}

.panelHandle:hover {
  background-color: lightgray;
}

.panelHandle svg {
  margin-top: 10px;
}

