.pointDetails {
  /* position: relative; */
}

.pointDetailsControls {
  border-top: 1px solid darkgrey;
  background-color: #f7f7f7;
  position: absolute;
  bottom: 0px;
  width:100%;
  height:100px;
}

.pointDetailsInfoRow {
  /* height: calc(100vh - 100px); */
  /* overflow-y: auto; */
}

.pointDetailsControlRow {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 10px 0px;
  padding: 0px 10px 0px 10px;
}

.emailInput {
  width: 100%;
  margin-right: 10px;
}

.dataTotalBar {
  width: 300px;
  margin-right: 10px;
}

/* .dataTotalBar .progress-bar{
  color:lightgray;
} */

.progressbar .upTo100 {
  color: white;
}

.progressbar .past100 {
  color: black;
}