.pointDetails {
  width: 100%;
}

.pointDetailsInfoRow {
  max-height: calc(100vh - 127px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-height: 500px) {
  .pointDetailsInfoRow {
    max-height: 420px;
  }
}

.pointDetailsControls {
  border-top: 1px solid darkgrey;
  background-color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.pointDetailsControlRow {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.emailInput {
  width: 100%;
  margin-right: 10px;
}

.dataTotalRatio svg {
  margin-left: 5px;
}

.dataTotalBar {
  height: 40px;
  width: 325px;
  margin-right: 10px;
}

.dataTotalBar.progress {
  margin: 5px 0px 0px 0px;
  height: 30px;
}

.progress .upTo100 {
  color: white;
}

.progress .past100 {
  color: black;
}

.noDataNotice {
  text-align: center;
  margin-top: 100px;
}

.pointDetailsHeader {
  height: 66px;
  display: flex;
  border-bottom: 1px solid lightgray;
}

.pointDetailsHeaderLogo {
  margin: auto;
  height: 100%;
  /* border: 2px solid lightgrey;
  border-radius: 4px; */
}

.pointDetailsHeaderLogo:hover {
  background-color: #c6e3df;
  padding: -2px;
}

.pointDetailsHeaderIntroButton {
  margin: 10px;
  pointer-events: all;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  border-radius: 4px;
  border: 0px;
  height: 42px;
  width: 42px;
  text-align: center;
  z-index: 3;
}

.pointDetailsHeaderIntroButton:hover {
  background-color: #c6e3df;
}

.noPosition.languageSelector{
  position: inherit;
  top: inherit;
  right: inherit;
  margin: 10px;
  pointer-events: all;
  z-index: 3;
  width: 42px;
  height: 42px;
  text-align: center;
  /* margin: auto; */
  padding:5px;
  background-color: white;
  border-radius: 4px;
  border: 2px solid lightgrey;
}

.noPosition.languageSelector:hover {
  background-color: #c6e3df;
}

.pointDetailsSearchBar {
  width: 100%;
  padding:15px;
}

.pointDetailsSearchBar input {
  width: 100%;
}
/* .backButton {
  text-align: center;
  border: 2px solid darkgrey;
  border-radius: 10px;
  justify-content: space-between;
  padding: 5px;
  margin-right: 10px;
  min-width: fit-content;
}

.backButton:hover {
  background-color: #c6e3df;
  cursor: pointer;
}

.backButton svg {
  margin-right: 5px;
} */

/* .dataPreviewModal .modal-header button {
  margin: 0px 10px;
} */

/* .datasetData {
  display: flex;
  overflow: auto;
  max-height: 50%;
} */

/* .dataPreviewModal .modal-body {
  padding: 0px;
}

.previewRow {
  display: flex;
  padding: 10px 0px 0px 0px;
  height: 50%;
}

.previewColumn {
  min-width: 50%;
  max-height: 100%;
  overflow: auto;
}

.previewColumn.metadata {
  display: flex;
} */

/* .previewFlexContainer {
  display: flex;
  height: 100%;
}

.recordIDTable {
  height: 100%;
  overflow-y: auto;
  padding-right: 0px;
  margin: 9px 0 9px 0px;
}

.metadataGridContainer {
  display: grid;
  grid-template-columns: 198px 198px;
  grid-auto-rows: minmax(66px, auto);
  gap: 16.5px;
}

.metadataAndRecordIDTableGridContainer {
  display: grid;
}

.metadataGridItem h5 {
  font-weight: bolder;
  line-height: 20px;
}

.selectedRecordID {
  color: white;
  background-color: #52A79B;
}

.selectedRecordID:hover {
  color: white;
}

.tableAndPlotGridContainer {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: max-content calc(100% - 76px);
  margin: 0px 16.5px;
  gap: 16.5px;
}

.tableAndPlotGridItem {
  height: 100%;
  overflow: auto;
}

.tableAndPlotGridContainer .toggleButton {
  width: 66px;
  height: 42px;
  margin: 0px 16.5px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid darkgrey;
  color: black;
  line-height: 15px;
}

.toggleButton:hover {
  background-color: #c6e3df;
}

.toggleButton.selected {
  background-color: #52A79B;
  color: white;
}

.deselectRecordButton {
  height: 42px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid darkgrey;
  color: black;
  line-height: 15px;
  margin: 0px 16.5px;
}

.deselectRecordButton:hover {
  background-color: #c6e3df;
}

.tableAndPlot .dropdown {
  display: inline;
} */