/* .dataDownloadModal .modal-header {
  padding: 5px;
} */

.dataDownloadModal .modal-body {
  padding: 0px;
}

.dataDownloadModal .modal-header .btn-close {
  margin-right: 5px;
}

.downloadButton {
  pointer-events: all;
  background-color: white;
  border: solid 2px darkgrey;
  border-radius: 10px;
  height: 40px;
  text-align: center;
}

.downloadButton:disabled:hover {
  background-color: white;
  cursor: not-allowed;
}

.downloadButton:hover {
  background-color: #c6e3df;
}

.submitRequestButton {
  background-color: White;
  border: solid 2px lightgrey;
  border-radius: 10px;
  height: 40px;
  text-align: center;
  width: 100%;
}

.submitRequestButton.disabled:hover {
  background-color: white;
}

.submitRequestButton:hover {
  background-color: #c6e3df;
  border: 2px solid darkgrey;
}